<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reflex Training App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>.nav {
            margin-bottom: 20px;
            padding: 10px;
            background-color: #007bff;
            border-radius: 5px;
        }
        .nav a {
            color: white;
            margin-right: 15px;
            text-decoration: none;
            font-weight: 500;
        }
        .nav a:hover {
            text-decoration: underline;
        }
        .nav select {
            padding: 5px;
            border-radius: 5px;
            border: none;
            background-color: #fff;
            color: #333;
        }</style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="content">
    <!-- Menu điều hướng -->
     <div class="nav">
        <a href="/">Trang chính</a>
        <a href="/chunking">chunking</a>
        <a href="/check">check</a>
        <a href="/ending_practice">Practice -S/-ES & -ED</a>
        <a href="/irregular_verbs">Irregular Verbs</a>
        <a href="/random_currency">Random Currency</a>
        <a href="/schedule_ui">Schedule</a>
        <select id="voiceSelect">
            <option value="en-US">English (US)</option>
            <option value="en-GB">English (UK)</option>
        </select>
    </div>
    <h1>Sentence Practice</h1>
For better or worse, we live in a world <span style="color:red; font-weight:bold">profoundly affected</span> by Sigmund Freud.
If I had to ask you, choose a <span style="color:red; font-weight:bold">psycho…, no, name a famous psychologist</span>, the answer of most of you would be Freud.
He's <span style="color:red; font-weight:bold">the most famous psychologist ever and he's had a profound influence</span> on the 20th and 21st century.
Some <span style="color:red; font-weight:bold">biographical</span> information: he was born in the 1850s; he spent most of his life in <span style="color:orange; font-weight:bold">Vienna, Austria. And ah … but</span> he died in London.
He <span style="color:red; font-weight:bold">escaped to London soon after retreating there at the beginning of World War Two as the Nazis began to occupy where he lived.</span>
He’s one of the most famous <span style="color:red; font-weight:bold">scholars</span> ever, but he's not known for any single discovery.
Instead he's known for the development of <span style="color:red; font-weight:bold">an encompassing theory</span> of mind, one that he developed over the span of many decades.


<hr style="border: 1px solid black; margin: 20px 0;">
Some <span style="color:red; font-weight:bold">adverse</span> effects of climate <span style="color:blue; font-weight:bold">changes</span> change agricultural <span style="color:blue; font-weight:bold">production</span>.

Some lands are just <span style="color:red; font-weight:bold">merely</span> unsuitable for growing crops.

There will be <span style="color:red; font-weight:bold">millions</span> of people facing hunger in Africa in the near future.

Climate <span style="color:blue; font-weight:bold">change</span> will result in less <span style="color:blue; font-weight:bold">production</span> and less food.

It is difficult for developing countries to deal with climate change <span style="color:red; font-weight:bold">due to their financial status and other issues.</span>

There are many people living in hunger, especially in Africa.

The climate change has <span style="color:red; font-weight:bold">devastating effects on world economy.</span>

The <span style="color:red; font-weight:bold">tropical areas</span> on earth are dry and hot and are <span style="color:red; font-weight:bold">originally not suitable for food production.</span>

The change of climate leads to <span style="color:red; font-weight:bold">extreme weather conditions such as floods and hurricanes which exacerbate the food production issues.</span>

<span style="color:red; font-weight:bold">As a result, it leads to a continuous decline in food supply annually around 10–17%</span> and <span style="color:red; font-weight:bold">this trend is perceived to be continuing in the future</span> <span style="color:red; font-weight:bold">by 2017.</span>

<span style="color:red; font-weight:bold">The region suffering the most will be some African countries.</span>



<hr style="border: 1px solid black; margin: 20px 0;">
<a href="https://storage.googleapis.com/pte-assistant.appspot.com/app%2Faudio%2Frl-4.mp3?GoogleAccessId=firebase-adminsdk-t7i9w%40pte-assistant.iam.gserviceaccount.com&Expires=2524568400&Signature=gi8XBWt68JbDX2eKu50EMLgnz0Ju%2FL%2BPKyPsnjg6xYMdKa8zTVDN8LBUA18aM%2BcMYIuoawtcY%2F8zK8SbCYTpfqoCQfuqHNw3%2FwbPKWsMZ9AE1OY9LVHZLKITlMLP%2F118%2B11gl8oGFYRo%2FubxU7pEOf%2Fjj0anHmX8u3FZuRC7t91YXSaJjwhscjQcb4ZtWZ5oZYTZkV4tIGWrQxsWZmajPbRHyR4LCowYWZZEVapHfaE1lbp8TOdAyyWmHFfI0Kt5Zu3nt%2F0cqV%2FCozPQJNxmYhxwHI1wiznN%2FpCBAB0MFW0qKC7ffTLZN2MIL5DmI1VgxUhF2V%2FZrDDiRafXeAMbhQ%3D%3D" target="_blank" rel="noopener noreferrer">Video Link</a>
This simulation <span style="color:blue; font-weight:bold">shows (show)</span> you what you might see if you <span style="color:red; font-weight:bold">are orbiting a</span> <span style="color:blue; font-weight:bold">orbiting a (old)</span> black hole.

The <span style="color:blue; font-weight:bold">light and (lighten)</span> position of background <span style="color:red; font-weight:bold">stars</span> around the hole and <span style="color:blue; font-weight:bold">are distorted (it is stored)</span> by gravity and <span style="color:red; font-weight:bold">they seem to spin around</span>.

On the right the <span style="color:red; font-weight:bold">constellation Orion</span> <span style="color:blue; font-weight:bold">appears (peer)</span> <span style="color:red; font-weight:bold">to approach the event horizon,</span> the boundaries from which nothing <span style="color:blue; font-weight:bold">can escape (can not escape)</span>.

<span style="color:blue; font-weight:bold">Orion stars (a right start)</span> looks like <span style="color:red; font-weight:bold">they become separated and get spun around.</span>

Once the hole has <span style="color:blue; font-weight:bold">passed (past)</span> by <span style="color:blue; font-weight:bold">Orion reappears on the left and looks normal again (this)</span>.

<span style="color:red; font-weight:bold">Users can also experiment with different scenarios. This is what you might see if you were traveling towards a black hole with rocket engines slowing your descent. Another simulation mimics free fall into a hole. In the middle, the light of the entire universe appears to be</span> <span style="color:blue; font-weight:bold">concentrated (concentrate)</span> <span style="color:red; font-weight:bold">in a bright ring.</span>
<hr style="border: 1px solid black; margin: 20px 0;">
<a href="https://storage.googleapis.com/pte-assistant.appspot.com/app%2Faudio%2Frl-5.mp3?GoogleAccessId=firebase-adminsdk-t7i9w%40pte-assistant.iam.gserviceaccount.com&Expires=2524568400&Signature=VLVZOVbJ1UljcM0KovTgrEDOF9eu4h3mtispJ%2FJk8YZ6aXs2gjsy6JPcLHXZvcLhAmo3pPJlpCknotwHEbkEjwiGpiZA0isb%2BNtfnWozQn0uVG5PPIUf3TVqxqg52Ou3X4TR8zL%2Bci%2BQr1B5qpoAuD6fXBWbXA%2F9nlM81LkcTGqfeCcCCn%2B%2BiuOXHVQNhWGmRQMxHEfQLDeE24HvKAEjbofcKPy0f7dR11rJPa51ELdISGf3GCI2W7rWCP%2FKzkJyzCuRkJPHvmlMLl8XEX2fmecweHuZddPgj49QwtiRtIpHe0DMlQPPyP8YnWf38z5Sk8dXnXylXpZLJN5m7o8jxA%3D%3D" target="_blank" rel="noopener noreferrer">Video Link</a>
The shuttle <span style="color:blue; font-weight:bold">was designed (we designed)</span> to be a <span style="color:blue; font-weight:bold">space truck (a struct)</span>; it's a <span style="color:red; font-weight:bold">multi-purpose vehicle.</span>

<span style="color:red; font-weight:bold">We've done a tremendous</span> <span style="color:blue; font-weight:bold">number (numbers)</span> of <span style="color:red; font-weight:bold">different things with it. It's the most versatile space vehicle that has ever been built.</span>

<span style="color:red; font-weight:bold">We've used it to launch satellites. We've used it to repair satellites in orbit and put them back into orbit. We've used it to capture satellites and bring them back to Earth for repair.</span>

<span style="color:red; font-weight:bold">We've outfitted it with the space lab built by our European partners and used it before the era of the space station to do scientific research.

We used it as part of our partnership with the Russians, which is still </span><span style="color:blue; font-weight:bold">continuing (continuning)</span>, <span style="color:red; font-weight:bold">first as part of the Mir space station, where we actually</span> <span style="color:blue; font-weight:bold">prolonged (partnership)</span> <span style="color:red; font-weight:bold">the useful life of Mir by several years through logistical supply visits with the shuttle.</span>

<span style="color:red; font-weight:bold">And now, of course, we're using it to</span> build  <span style="color:red; font-weight:bold">the new international space station, which is a ... a huge international</span> partnership.
<hr style="border: 1px solid black; margin: 20px 0;">
<a href="https://storage.googleapis.com/pte-assistant.appspot.com/app%2Faudio%2Frl-6.mp3?GoogleAccessId=firebase-adminsdk-t7i9w%40pte-assistant.iam.gserviceaccount.com&Expires=2524568400&Signature=Qxy3Jl6w9DLR2kPIm1XnOBufD8Qt3M%2F6YAOly75kEEeR4EWnJe9o0efUeU4OFVkM1s%2B8if%2FqB7VE8s880Tb2ZQFE7aZuVNFawzbKtMCTFaLGDBRMhv%2BRfS0uSRwN0aFI5lp3CzSQ4NW3QGkQznhEDe9%2BQtfzO2c2Nyl8%2BDvFnBdTScPU9xSCH%2Bft1dyrI2SYYb4VaxYOkadTDZfut6KSok2YPgpWriDfIzLLGaI0EVd9D4jTCkEQvKoMf30zv0Cu7Tj%2F9E1KxBGdlKFgTyi%2BqlXa2fxZXVfhb8mOuR51sB3TmsNVH%2Fw%2BEZFS1BK1h0JYEg3oravDDO8%2FPpFElzrPUg%3D%3D" target="_blank" rel="noopener noreferrer">Video Link</a>
When you think <span style="color:blue;">of (about)</span> a leader, you may think <span style="color:blue;">of (thing)</span> an individual who is <span style="color:blue;">above all (bobo both)</span> bold. 
    But a new study of <span style="color:red; font-weight:bold">fish called sticklebacks</span> <span style="color:red; font-weight:bold">shows that shy individuals actually prefer to follow fish that are similarly timid. </span>

    <span style="color:red; font-weight:bold">Researchers had trios of sticklebacks with known personalities play follow the leader. 

    The fish were placed in a tank that had </span><span style="color:blue;">some plastic plants (some plastic)</span> at one end and <span style="color:blue;">some food hidden (some food)</span> at the other. 

    <span style="color:red; font-weight:bold">In some of the groups, a bold fish and a shy fish acted as leaders, while another shy fish followed.</span> 

    <span style="color:red; font-weight:bold">And in other groups, it was a bold fish that did the following.

    The researchers recorded whether the follower </span> <span style="color:blue;">sallied forth (salary)</span> <span style="color:red; font-weight:bold">more frequently with the fish that was</span> <span style="color:blue;">behaviorally similar (behavior similar)</span> <span style="color:red; font-weight:bold">or the one that was different. 

    What they found is that shy fish were more likely to emerge from under</span> <span style="color:blue;">cover (... cover)</span> <span style="color:red; font-weight:bold">when an equally wary fellow was already out there.</span>

    <span style="color:red; font-weight:bold">Bold follower fish did not seem to care which leader they followed.

    Of course, no matter which fish a stickleback chose to stick with, the bold fish did lead more expeditions over the course of the experiment than their more retiring friends.</span>

    <span style="color:red; font-weight:bold">That’s because the bold fish initiated more trips, regardless of who might be tailing them.

    The findings are in the journal Biology Letters</span>. 

    <span style="color:red; font-weight:bold">The researchers write that “when offered a choice of leaders, sticklebacks prefer to follow individuals whose personality matches their own, but bolder individuals may, nevertheless, be able to impose their leadership, even among shy followers, simply through greater effort.”

    We may soon see if such tendencies also hold true in humans, when </span> <span style="color:blue;">Americans (Americans..)</span><span style="color:red; font-weight:bold">decide who they’ll follow in November.</span> 
<hr style="border: 1px solid black; margin: 20px 0;">
</body>
</html>